* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.all {
    width: 1200px;
    height: 800px;
}

.menu {
    width: 1200px;
    height: 100px;
    background-color: red;
}

.slide {
    width: 1200px;
    height: 150px;
    background-color: orange;
}

.contents {
    width: 1200px;
    height: 550px;
    background-color: yellow;
}